In [16]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [7]:
# This function does only a couple preliminary things to clean our dataset.

def get_data(dataset):
    """
    This function helps to get the required data
    
    """
    df = pd.read_excel(dataset,skiprows = [0,1]) # skipping first 2 rows
    df.rename(columns=df.iloc[0], inplace = True) # renaming 1st column
    df = df.iloc[1:,1:]
    df.columns.values[0] = 'Vehicle Class'
    df = df[["Vehicle Class","CNG ONLY","PETROL/CNG","DIESEL","ELECTRIC(BOV)","PETROL"]] # selecting main fuel types
    return df

In [8]:
# Out of all these vehicles we will only need a few
imp_vehicles = ["BUS", "E-RICKSHAW(P)","M-CYCLE/SCOOTER","M-CYCLE/SCOOTER-WITH SIDE CAR","MOPED","MOTOR CAB","MOTOR CAR",
               "OMNI BUS","THREE WHEELER (GOODS)","THREE WHEELER (PASSENGER)","THREE WHEELER (PERSONAL)",
               "E-RICKSHAW WITH CART (G)"]

In [9]:
states = ["Andhra Pradesh","Assam","Bengal","Bihar","Chandigarh","Chhatisgarh","Delhi","Gujarat","Uttarakhand","Uttar Pradesh",
          "Tamil Nadu","Sikkim","Rajasthan","Puducherry","Odisha","Madhya Pradesh","Meghalaya","Maharashtra","Kerala","Karnataka",
          "Jammu & Kashmir","Himachal Pradesh","Haryana"]

In [10]:
def get_all_data(state,state_name):
    """
    This function combines the data for electric vehicle across all states
    
    """
    data = get_data(state)
    idx = []
    for i in range(data.shape[0]):
        if data.iloc[i]['Vehicle Class'] in imp_vehicles:
            idx.append(i)
    frame = data.iloc[idx]
    new_frame = frame.reset_index().drop(["index"], axis=1)

    #Cleaning new frame values
    new_frame["ELECTRIC(BOV)"] = [z.replace(',','') for z in new_frame["ELECTRIC(BOV)"].values]
    new_frame["CNG ONLY"] = [z.replace(',','') for z in new_frame["CNG ONLY"].values]
    new_frame["PETROL/CNG"] = [z.replace(',','') for z in new_frame["PETROL/CNG"].values]
    new_frame["DIESEL"] = [z.replace(',','') for z in new_frame["DIESEL"].values]
    new_frame["PETROL"] = [z.replace(',','') for z in new_frame["PETROL"].values]

    
    new_frame["ELECTRIC(BOV)"] = new_frame["ELECTRIC(BOV)"].astype(float)
    new_frame["CNG ONLY"] = new_frame["CNG ONLY"].astype(float)
    new_frame["PETROL/CNG"] = new_frame["PETROL/CNG"].astype(float)
    new_frame["DIESEL"] = new_frame["DIESEL"].astype(float)
    new_frame["PETROL"] = new_frame["PETROL"].astype(float)
    
    new_frame['State'] = [state_name for i in range(new_frame.shape[0])]
    return new_frame

In [12]:
data_files = ["Dataset/AP.xlsx", "Dataset/Assam.xlsx", "Dataset/Bengal.xlsx","Dataset/Bihar.xlsx", 
              "Dataset/Chandigarh.xlsx", "Dataset/Chhatisgarh.xlsx", "Dataset/Delhi.xlsx", "Dataset/Guj.xlsx", 
              "Dataset/Uttarakhand.xlsx", "Dataset/UP.xlsx", "Dataset/TN.xlsx", "Dataset/Sikkim.xlsx", "Dataset/RJ.xlsx",
              "Dataset/Puducherry.xlsx", "Dataset/Odisha.xlsx", "Dataset/MP.xlsx", "Dataset/Meghalaya.xlsx", "Dataset/Maharashtra.xlsx",
              "Dataset/Kerela.xlsx", "Dataset/Karnataka.xlsx", "Dataset/J&K.xlsx", "Dataset/Himachal.xlsx",
              "Dataset/Haryana.xlsx"]

In [13]:
concat_states = []
for i,j in zip(data_files,states):
    concat_states.append(get_all_data(i,j))

In [14]:
final_df = pd.concat(concat_states,axis = 0)

In [15]:
final_df

,Vehicle Class,CNG ONLY,PETROL/CNG,DIESEL,ELECTRIC(BOV),PETROL,State
0,BUS,278.0,22.0,10872.0,0.0,126.0,Andhra Pradesh
1,E-RICKSHAW(P),0.0,0.0,0.0,397.0,0.0,Andhra Pradesh
2,E-RICKSHAW WITH CART (G),0.0,0.0,0.0,260.0,0.0,Andhra Pradesh
3,M-CYCLE/SCOOTER,4.0,12.0,4492.0,10718.0,3450998.0,Andhra Pradesh
4,M-CYCLE/SCOOTER-WITH SIDE CAR,0.0,0.0,0.0,601.0,649.0,Andhra Pradesh
...,...,...,...,...,...,...,...
7,MOTOR CAR,321.0,301385.0,998217.0,286.0,1243890.0,Haryana
8,OMNI BUS,8.0,14.0,369.0,0.0,72.0,Haryana
9,THREE WHEELER (GOODS),2308.0,1103.0,21796.0,552.0,26.0,Haryana
10,THREE WHEELER (PASSENGER),28733.0,46878.0,103907.0,1536.0,68.0,Haryana
11,THREE WHEELER (PERSONAL),0.0,1.0,165.0,0.0,40.0,Haryana